body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    background-color: yellow;
    margin: 0px;
    padding: 0px;
}

img{
    float:left;
  width: auto;
  margin: 0 10px 10px 0;
}
.line1 {
    
    font-family: Arial;
    font-size: 19px;
    font-weight: bolder;
    text-align: justify;
    
}
section{
    margin: 0 120px;
    border: 7px double blue;
    background-color: white;
}
main{
    margin: 30px 30px; 

}
h1{
    color: blue;
    font-family: sans-serif;
    font-size: 1.7rem;
}
h2{
    font-size: 1.5rem;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}
h5{
    text-align: right;
    font-size: 1rem;
    color: royalblue;
}
ul{
    margin: 0px;
}
hr{
    height: 3px;
    background-color: navy;
}
h3{
    text-align: center;
}